/* * {
  outline: 1px solid red;
} */

main {
  background-color: #141f2b;
  background-image: url(../png/我的訂單.png);
  background-repeat: no-repeat;
}

.mainblock {
  width: 75%;
}

#order {
  background-color: #141f2b;
  height: 1145px;
}

.navbar {
  height: 150px;
  background-color: #002a4c;
}

.footer {
  height: 205px;
  background-color: #002a4c;
}

.topname {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.topname p {
  width: 350px;
  border-bottom: 5px solid orange;
  margin: 0 auto;
  font-weight: bold;
}

.topname1 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.topname1 p {
  width: 350px;
  margin: 0 auto;
}

.card1 {
  height: 282px;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgb(0, 0, 0);
  -webkit-filter: brightness(0.5);
}

.card2 {
  height: 282px;
  background-color: rgba(10, 10, 10, 0.932);
  align-items: center;
  margin-bottom: 30px;
}

.card3 {
  height: 282px;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgb(0, 0, 0);
  -webkit-filter: brightness(0.5);
}

.card4 {
  height: 282px;
  background-color: rgba(10, 10, 10, 0.932);
  align-items: center;
  margin-bottom: 30px;
}

.date {
  padding-left: 30px;
  margin-left: 20px;
}

.date svg {
  margin-left: 30px;
}

.date-text {
  color: white;
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  padding-left: 45px;
}

.name {
  color: white;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  margin-left: 5rem;
}

.name h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.name p {
  margin-bottom: 10px;
}

.answer {
  color: white;
  display: flex;
  padding: 200px 0 0 0;
}

.textbox1 p {
  color: #ff8d00;
  border: 1px solid #ff8d00;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  height: 30px;
  margin: 0 20px;
}

.textbox2 {
  background-color: #ff8d00;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  margin-left: 100px;
}

.textbox2 p {
  color: white;
  border: 1px solid #ff8d00;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.card-area {
  overflow-y: hidden;
  overflow: scroll;
}

.img-ink img {
  position: absolute;
  bottom: 1px;
  right: 200px;
}

.noshowtext p {
  color: #ff5172;
  font-size: 50px;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-18deg);
  position: absolute;
  top: 95px;
  right: 230px;
}
