/* * {
  outline: 1px solid red;
} */

video {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(0.5);
}

.nav-text p {
  font-size: 10rem;
  color: white;
  position: absolute;
  top: 120;
  left: 100;
  font-weight: bold;
  width: 1800px;
  font-family: "JetBrains Mono", monospace;
}

.nav-text {
  overflow: hidden;
  overflow-x: scroll;
}

.black-box {
  width: 100%;
  height: 100px;
  background-color: black;
}

.logo {
  position: absolute;
  top: 150;
  left: 100;
}
