* {
  outline: 1px solid red;
}

main {
  background-color: #141f2b;
}

#order {
  background-color: #141f2b;
  height: 1145px;
}

.navbar {
  height: 150px;
  background-color: #002a4c;
}

.footer {
  height: 205px;
  background-color: #002a4c;
}

.topname {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.topname p {
  width: 350px;
  border-bottom: 5px solid orange;
  margin: 0 auto;
}

.card1 {
  height: 150px;
  background-color: #022a4c;
  align-items: center;
  width: 378px;
}

.card1 h2 {
  color: white;
  padding: 10px 0 0 10px;
}

.card1 p {
  color: white;
  padding: 10px 0 0 10px;
}

.card2 {
  margin: 0 auto;
}

.svg {
  position: absolute;
  bottom: 10rem;
}

.cardmoney {
  color: white;
}

.cardmoney p {
  color: white;
  font-size: 20px;
}

.cardmoney h1 {
  color: white;
}

.bottom-text {
  color: #e58c21;
  padding-top: 20px;
  width: 100px;
  margin-left: 278px;
}

.bottom-text p {
  width: 100px;
  border: 1px solid #e58c21;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
