/* * {
  outline: red solid 1px;
} */

section {
  background-color: #002a4c;
}
.container-fluid {
  width: 75% !important;
}
.carousel .d-block {
  height: 1080px;
}

.information-bar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 230px;
  top: 850px;
  z-index: 1;
}
.store-name {
  top: 800px;
  position: absolute;
  z-index: 3;
  font-size: 70px;
  color: white;
  padding-left: 20px;
}
.star {
  padding-top: 50px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.address h2 {
  font-size: 40px;
  color: white;
  padding-left: 20px;
}
.address p {
  font-size: 20px;
  color: white;
  padding-left: 20px;
}
.business-hour p {
  font-size: 20px;
  color: white;
  padding-left: 20px;
}
.news {
  border-bottom: rgba(35, 108, 166, 0.6) 2px solid;
}
.news-title h2 {
  font-size: 80px;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}
.share {
  margin-top: 110px;
  margin-left: 530px;
}
.news-content-title h4 {
  font-size: 30px;
  color: #ffd700;
}
.news-content-title p {
  font-size: 20px;
  color: white;
}
.new-content {
  margin-top: 100px;
}
.go-news p {
  font-size: 20px;
  color: white;
  margin-left: 20px;
}
.go-news {
  margin-bottom: 20px;
}
