body{
  background-color: #141f2b;
  font-family: "Noto Sans TC", sans-serif;
  overflow: hidden;
  /* outline: 1px solid red; */
}

header {
  height: 150px;
  background: #002a4c;
  z-index: 20;
}

.container-fluid {
  width: 75%;
  position: relative;
}

/* 進度條 */
.progress-area {
  display: flex;
  justify-content: center;
}

.progress-line {
  background-color: transparent;
  margin: 38px;
}
.progress-line p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}
.glass {
  display: flex;
  justify-content: center;
}

/* calendar area */

.title-40M {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 47px;
}

.title-30 {
  color: #fff;
  font-size: 30px;
}

/* .calendar-area {
  
} */

/* form area */
.order-form {
  flex-direction: column;
}

.input-area {
  margin: 50px;
}
.input-area2 {
  margin: 0px 0 0px 0;
}

.input-area input,
select {
  width: 400px;
  height: 50px;
  color: #000;
  font-size: 20px;
  font-weight: 300;
}

.input-area label {
  color: #ff5172;
}

.text-area {
  /* margin-left: 55px; */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.label-text label {
  padding-left: 105px;
}

.next-btn {
  /* margin-left: 55px; */
  margin-top: 60px;
  color: #fff;
  background-color: #ff8d00;
  border-radius: 12px;
  width: 333px;
  height: 35px;
}

/*  */

.golden-line1 {
  position: absolute;
  z-index: -1;
  transform: translate(-300px, -70px);
}
.golden-line2 {
  position: absolute;
  z-index: -1;
  transform: translate(1070px, 560px);
}


/* footer-area */
footer {
  margin-top: 150px;
  height: 205px;
  background: #002a4c;
}
